In [32]:
import pandas as pd
import json
from google.cloud import bigquery

In [33]:
food_categories = [
'Restaurant',
'Fast food restaurant',
'Takeout Restaurant',
'Pizza restaurant',
'Mexican restaurant',
'Juice shop',
'Hamburger restaurant',
'Asian restaurant',
'Barbecue restaurant',
'Delivery Restaurant',
'Pizza Takeout',
'Seafood restaurant',
'Chicken restaurant',
'Lounge',
'Cake shop',
'Sushi restaurant',
'Salad shop',
'Taco restaurant',
'Bagel shop',
'Diner',
'Espresso bar',
'Latin American restaurant',
'Buffet restaurant',
'Tea house',
'Ice cream shop',
'Bakery',
'Coffee store',
'Wine bar',
'Caterer',
'Chicken wings restaurant',
'Candy store',
'Frozen yogurt shop',
'Wine store',
'Pastry shop',
'Food court',
'Fried chicken takeaway',
'Jamaican restaurant',
'New American restaurant',
'Greek restaurant',
'French restaurant',
'Salvadoran restaurant',
'Hawaiian restaurant',
'Organic restaurant',
'Soup restaurant',
'Grill',
'European restaurant',
'Chinese takeaway',
'Delivery Chinese restaurant',
'Dominican restaurant',
'Hot dog stand',
'Brewpub',
'Hot dog restaurant',
'Beer garden',
'Filipino restaurant',
'Pie shop',
'Colombian restaurant',
'Pakistani restaurant',
'Japanese steakhouse',
'Ramen restaurant',
'Sushi takeaway',
'Irish pub',
'Vietnamese restaurant',
'Ethiopian restaurant',
'Turkish restaurant',
'Creole restaurant',
'Korean barbecue restaurant',
'Cider bar',
'Oyster bar restaurant',
'Taiwanese restaurant',
'Hot pot restaurant',
'West African restaurant',
'Rice restaurant',
'Dim sum restaurant',
'Fusion restaurant',
'Mexican torta restaurant',
'Californian restaurant',
'Guatemalan restaurant',
'Sichuan restaurant',
'Teppanyaki restaurant',
'South American restaurant',
'Afghani restaurant',
'Ecuadorian restaurant',
'Pan-Asian restaurant',
'Peruvian restaurant',
'Authentic Japanese restaurant',
'Moroccan restaurant',
'East African restaurant',
'Russian restaurant',
'Laotian restaurant',
'Irish restaurant',
'Polish restaurant',
'Modern Indian restaurant',
'Cambodian restaurant',
'Mongolian barbecue restaurant',
'Izakaya restaurant',
'Japanese curry restaurant',
'Hunan restaurant',
'Neapolitan restaurant',
'Shanghainese restaurant',
'Fondue restaurant',
'Shawarma restaurant',
'Conveyor belt sushi restaurant',
'Pacific Northwest restaurant (US)',
'Pan-Latin restaurant',
'Poâ€™ boys restaurant',
'Egyptian restaurant',
'Israeli restaurant',
'Nicaraguan restaurant',
'Syrian restaurant',
'Polynesian restaurant',
'Scandinavian restaurant',
'French steakhouse restaurant',
'Sicilian restaurant',
'South African restaurant',
'Chilean restaurant',
'Brazilian pastelaria',
'Yemenite restaurant',
'Sri Lankan restaurant',
'Pacific Rim restaurant',
'Yucatan restaurant',
'Swiss restaurant',
'Austrian restaurant',
'Japanese regional restaurant',
'Costa Rican restaurant',
'Katsudon restaurant',
'Uruguayan restaurant',
'North African restaurant',
'Czech restaurant',
'Porridge restaurant',
'Korean rib restaurant',
'Obanzai restaurant',
'Haute French restaurant',
'Tempura restaurant',
'Tempura donburi restaurant',
'Sfiha restaurant',
'Sukiyaki restaurant',
'Valencian restaurant',
'Icelandic restaurant',
'Paraguayan restaurant',
'Provence restaurant',
'Scottish restaurant',
'Kushiyaki restaurant',
'Pueblan restaurant',
'Roman restaurant',
'Croatian restaurant',
'Kaiseki restaurant',
'Anago restaurant',
'Madrilian restaurant',
'Anhui restaurant',
'Shandong restaurant',
'Turkmen restaurant',
'Asian',
'Bars',
'Cocktail Bars',
'Restaurants',
'Wine Bars',
'Food',
'Vietnamese',
'Salad',
'Thai',
'Laotian',
'Noodles',
'Buffets',
'Chinese',
'Asian Fusion',
'Coffee & Tea',
'Pizza',
'Sandwiches',
'Italian',
'Cafes',
'Breakfast & Brunch',
'Steakhouses',
'Seafood',
'Mexican',
'Tacos',
'Sushi Bars',
'Vegetarian',
'Vegan',
'Southern',
'Cajun/Creole',
'Cucina campana',
'Pasta Shops',
'Burgers',
'Chicken Wings',
'Barbeque',
'Caribbean',
'Beer',
'Grocery',
'Ethnic Food',
'International Grocery',
'Malaysian',
'Cambodian',
'Greek',
'Bakeries',
'Hot Dogs',
'Fast Food',
'American (Traditional)',
'Juice Bars & Smoothies',
'Cupcakes',
'Patisserie/Cake Shop',
'Comfort Food',
'Desserts',
'Bagels',
'Gastropubs',
'Pubs',
'Japanese',
'Indian',
'French',
'Wraps',
'Acai Bowls',
'Latin American',
'Ice Cream & Frozen Yogurt',
'Donuts',
'Argentine',
'Basque',
'Tapas/Small Plates',
'Hawaiian',
'Poke',
'Food Stands',
'Farmers Market',
'Food Trucks',
'Gluten-Free',
'Kombucha',
'Diners',
'Korean',
'Soul Food',
'Sports Bars',
'German',
'Breweries',
'Ramen',
'Polish',
'Mediterranean',
'Turkish',
'Middle Eastern',
'Specialty Food',
'Beer Bar',
'Food Delivery Services',
'Fish & Chips',
'Cuban',
'Cheesesteaks',
'Falafel',
'Halal',
'Kebab',
'Bubble Tea',
'Waffles',
'Soup',
'Tiki Bars',
'Salvadoran',
'Macarons',
'Mongolian',
'Pakistani',
'Gelato',
'Wineries',
'Modern European',
'Pretzels',
'Karaoke',
'Dim Sum',
'Hot Pot',
'Supper Clubs',
'Dance Clubs',
'Themed Cafes',
'Szechuan',
'Armenian',
'Cannabis Clinics',
'Mobile Phones',
'Convenience Stores',
'Automotive',
'Delis',
'Brewpubs',
'Live/Raw Food',
'Tex-Mex',
'African',
'Dive Bars',
'Irish',
'Fruits & Veggies',
'Meat Shops',
'Pan Asian',
'Israeli',
'Waffles',
'Bar',
'Cafe'
]

In [34]:
dataset_id = 'su dataset'
table_id = 'su tabla'

In [35]:
client = bigquery.Client()
state_query = f"""
SELECT DISTINCT us_state AS state
FROM `{{}}.{{}}`
""".format(dataset_id, table_id)
state_query_job = client.query(state_query)
unique_states = [row.state for row in state_query_job]

In [ ]:
bool_restaurant = pd.DataFrame(columns=['gmap_id', 'bool_rest'])
idx = 0
for state in unique_states:
    print(state, ' initiated')
    state_query = f"""
    SELECT
      gmap_id AS gmap_id,
      categories AS restaurant_categories
    FROM `{dataset_id}.{table_id}`
    WHERE us_state = '{state}'
    """
    state_query_job = client.query(state_query)
    state_df = state_query_job.to_dataframe()

    category_count = {}
    
    # Process the data for this state
    for index, row in state_df.iterrows():
        gmap_id = row['gmap_id']
        categories = row['restaurant_categories']

        if isinstance(categories, str):
            if categories in food_categories:
                bool_restaurant.loc[idx, 'gmap_id'] = gmap_id
                bool_restaurant.loc[idx, 'bool_rest'] = 1
            else:
                bool_restaurant.loc[idx, 'gmap_id'] = gmap_id
                bool_restaurant.loc[idx, 'bool_rest'] = 0
        elif isinstance(categories, dict):
            data_list = categories.get('list', [])
            temp_list = []

            for elm in data_list:
                temp_list.append(elm['element'])

            if any(category in food_categories for category in temp_list):
                bool_restaurant.loc[idx, 'gmap_id'] = gmap_id
                bool_restaurant.loc[idx, 'bool_rest'] = 1
            else:
                bool_restaurant.loc[idx, 'gmap_id'] = gmap_id
                bool_restaurant.loc[idx, 'bool_rest'] = 0
        idx += 1

VA  initiated
NJ  initiated

In [42]:
bool_restaurant

                                      gmap_id bool_rest
0        0x88fba044bcfcf709:0x22e4c72945d405e         1
1        0x88fba044bcfcf709:0x22e4c72945d405e         1
2        0x88fba044bcfcf709:0x22e4c72945d405e         1
3       0x888aa51954cb8879:0x15dacd7f68592ac3         1
4       0x888ccce51c4f2853:0xa1d3bf2d06d593c7         1
...                                       ...       ...
304326  0x89b1132b00d43d31:0xe21ef97cdacb4289         1
304327  0x89b1132b00d43d31:0xe21ef97cdacb4289         1
304328  0x89b17326b4bb5e81:0x6e724719a6f0010f         1
304329  0x89b63ed14101bd03:0x2622058056b764c4         1
304330                                    NaN       NaN

[304331 rows x 2 columns]

In [43]:
strings_to_drop = ["WA", "MD", 'GA', 'AK']
unique_states = [item for item in unique_states if item not in strings_to_drop]